{
  "env": {
    "node": true,
    "browser": true,
    "mocha": true
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "comma-dangle": 0,
    "curly": 0,
    "radix": 2,
    "wrap-iife": 2,
    "brace-style": 0,
    "comma-style": 0,
    "consistent-this": [2, "_that"],
    "no-lonely-if": 2,
    "no-nested-ternary": 2,
    "no-process-exit": 0,
    "no-spaced-func": 0,
    "no-use-before-define": [2, "nofunc"],
    "quotes": 0,
    "keyword-spacing": 0,
    "space-before-blocks": 0,
    "space-in-parens": 0,
    "space-unary-ops": 0,
    "strict": 0
  }
}
